.footer {
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    color: white;
}

.footer_box {
    width: 97%;
    display: flex;
    align-items: center;
    height: 100%;
}

.footer_icon_box {
    width: 100%;
    margin-top: 10px;
}

.footer a {
    display: block;
}

.footer a img {
    width: auto;
    height: 35px;
}

@media screen and (max-width: 768px) {

    .footer a img {
        width: auto;
        height: 20px;
    }
}