<div class="booking_area">
    <div class="inner_booking_area pure-g">
        <div class="pure-u-xl-1-2 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
            <div class="booking_intro">
                <div class="inner_booking_intro">
                    <p class="booking_intro_text_1">BỆNH VIỆN ĐA KHOA TÂM ANH</p>
                    <p class="booking_intro_text_2">Tận tâm - Chất lượng - Thân thiện</p>
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <div class="booking_intro_item">
                                <a href="#" class="booking_intro_link">
                                    <i class="fa-solid fa-phone-volume booking_intro_icon"></i>
                                    <p class="booking_intro_text_3">Tư vấn khám bệnh</p>
                                </a>
                            </div>
                        </div>

                        <div class="pure-u-1-2">
                            <div class="booking_intro_item">
                                <a href="#" class="booking_intro_link">
                                    <i class="fa-solid fa-stethoscope booking_intro_icon"></i>
                                    <p class="booking_intro_text_3">Chuyên gia - Bác sĩ</p>
                                </a>
                            </div>
                        </div>

                        <div class="pure-u-1-2">
                            <div class="booking_intro_item">
                                <a href="#" class="booking_intro_link">
                                    <i class="fa-solid fa-laptop-medical booking_intro_icon"></i>
                                    <p class="booking_intro_text_3">Tra cứu kết quả</p>
                                </a>
                            </div>
                        </div>

                        <div class="pure-u-1-2">
                            <div class="booking_intro_item">
                                <a href="#" class="booking_intro_link">
                                    <i class="fa-regular fa-file-lines booking_intro_icon"></i>
                                    <p class="booking_intro_text_3">Bảng giá</p>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- Form -->
        <div class="pure-u-xl-1-2 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
            <div class="outer_booking_form">
                <div class="booking_form">
                    <div class="inner_booking_form">
                        <form class="booking_register_form">
                            <div class="form_header">
                                <p class="form_title">ĐĂNG KÝ KHÁM BỆNH</p>
                            </div>
                            <div class="form_body">
                                <!-- Hàng đầu trong form (họ tên + ngày sinh) -->
                                <div class="pure-g">
                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Họ và tên
                                            </p>
                                            <input class="form_input_text_1" type="text" name="name" id="name"
                                                placeholder="Nhập họ và tên" required>
                                        </div>
                                    </div>

                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Ngày sinh
                                            </p>
                                            <input class="form_input_text_1" type="date" name="dateOfBirth"
                                                id="dateOfBirth" placeholder="Chọn ngày sinh" required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 2 trong form (sđt + email) -->
                                <div class="pure-g">
                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Số điện
                                                thoại</p>
                                            <input class="form_input_text_1" type="text" name="phone" id="phone"
                                                placeholder="Nhập số điện thoại" required>
                                        </div>
                                    </div>

                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Email</p>
                                            <input class="form_input_text_1" type="email" name="email"
                                                id="email" placeholder="Nhập email" required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 3 trong form(giới tinh + quốc tịch) -->
                                <div class="pure-g">
                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Họ và tên
                                            </p>
                                            <div class="form_radio pure-g">
                                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                                    <input type="radio" id="male" name="sex" value="male"
                                                        required>
                                                    <label for="male">Nam</label>
                                                </div>
                                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                                    <input type="radio" id="female" name="sex" value="female"
                                                        required>
                                                    <label for="female">Nữ</label><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pure-u-1-1 pure-u-sm-1-2">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Quốc tịch
                                            </p>
                                            <select name="country" id="country" class="dropdown">
                                                <option value="" disabled selected hidden>Chọn quốc tịch
                                                </option>
                                                <option>Việt Nam</option>
                                                <option>Nga</option>
                                                <option>Mỹ</option>
                                                <option>Anh</option>
                                                <option>Lào</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 4 trong form(tỉnh, quận, xã) -->
                                <div class="pure-g">
                                    <div class="pure-u-1-1 pure-u-sm-1-3">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Tỉnh thành
                                            </p>
                                            <select name="city" id="city" class="dropdown dropdown_custom">
                                                <option value="" disabled selected hidden>Tỉnh thành</option>
                                                <option>Hà Nội</option>
                                                <option>TP Hồ Chí Minh</option>
                                                <option>Hải Phòng</option>
                                                <option>Đà Nẵng</option>
                                                <option>Huế</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="pure-u-1-1 pure-u-sm-1-3">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Quận huyện
                                            </p>
                                            <select name="district" id="district"
                                                class="dropdown dropdown_custom">
                                                <option value="" disabled selected hidden>Quận huyện</option>
                                                <option>Bắc Từ Liêm</option>
                                                <option>Ba Đình</option>
                                                <option>Hai Ba Trưng</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="pure-u-1-1 pure-u-sm-1-3">
                                        <div class="form_element">
                                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                        style="color: red; font-size: 7px;"></i></sup>Xã phường
                                            </p>
                                            <select name="ward" id="ward" class="dropdown dropdown_custom">
                                                <option value="" disabled selected hidden>Xã phường</option>
                                                <option>Cổ Nhuế 2</option>
                                                <option>Cổ Nhuế 1</option>
                                                <option>Minh Khai</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 5(dịch vụ) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Chọn loại dịch vụ
                                        khám </p>
                                    <div class="form_radio pure-g">
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input type="radio" id="ontime" name="time" value="ontime" required>
                                            <label for="ontime">Khám trong giờ</label>
                                        </div>
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input type="radio" id="overtime" name="time" value="overtime"
                                                required>
                                            <label for="overtime">Khám ngoài giờ</label><br>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 6 (Khoa) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Chọn chuyên khoa
                                    </p>
                                    <div class="form_dropdown">
                                        <select class="dropdown" required>
                                            <option value="" disabled selected hidden>Chọn chuyên khoa</option>
                                            <option>CK Chấn thương chỉnh hình</option>
                                            <option>CK Cơ xương khớp</option>
                                            <option>CK Cơ xương khớp</option>
                                            <option>CK Cơ xương khớp</option>
                                            <option>CK Cơ xương khớp</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Hàng 7(Bác sĩ) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Chọn bác sĩ </p>
                                    <div class="form_dropdown">
                                        <select class="dropdown" required>
                                            <option>Bác sĩ A</option>
                                            <option>Bác sĩ B</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Hàng 8(Lịch) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup> Chọn ngày muốn
                                        thăm khám</p>
                                    <div class="form_pickdate">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Choose a date</mat-label>
                                            <input [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker"
                                            (dateChange)="addEvent('change', $event)">
                                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <!-- Hàng 9(đặt lịch) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Thời gian khám trong ngày </p>
                                    <div class="form_radio pure-g">
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input [(ngModel)]="selectedTime" type="radio" id="ontime1" name="time1" value="ontime1">
                                            <label [style.opacity]="opasang" [for]="opasang===1 ? 'ontime1' : ''" >Sáng</label>
                                        </div>
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input [(ngModel)]="selectedTime" type="radio" id="overtime1" name="time1" value="overtime1" >
                                            <label [style.opacity]="opachieu" [for]="opachieu===1 ? 'overtime1' : ''">Chiều</label><br>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 10(mô tả) -->
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Nhập ván đề sức
                                        khỏe cần thăm khám</p>
                                    <div class="form_textarea">
                                        <textarea name="reason" id="reason" rows="5" required
                                            placeholder="Nhập tình trạng sức khỏe của bạn"></textarea>
                                    </div>
                                </div>

                                <!-- Hàng 10(nút) -->
                                <div class="form_element">
                                    <div class="outer_form_button">
                                        <button type="submit" class="form_button">Đặt lịch hẹn</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>