<div class="pure-u-xl-1-2 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1">
    <div class="outer_booking_form" style="margin-top: 30px; margin-left: 80px;">
        <div class="booking_form">
            <div class="inner_booking_form">
                <form class="booking_register_form" [formGroup]="addForm" (ngSubmit)="onsb()">
                    <div class="form_header">
                        <p class="form_title">ĐĂNG KÝ KHÁM BỆNH</p>
                    </div>
                    <div class="form_body">
                        <!-- Hàng đầu trong form (họ tên + ngày sinh) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Họ và tên
                                    </p>
                                    <input class="form_input_text_1" type="text" name="name" id="name"
                                        placeholder="Nhập họ và tên" formControlName="name">
                                        <p class="text-danger" *ngIf="f['name'].errors !== null && submited ">Name cannot be null and min 6</p>
                                </div>
                            </div>

                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Ngày sinh
                                    </p>
                                    <input class="form_input_text_1" type="date" name="dateOfBirth" id="dateOfBirth"
                                        placeholder="Chọn ngày sinh" formControlName="dob">
                                        <p class="text-danger" *ngIf="f['dob'].errors !== null && submited ">Date of birth cannot be null</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 2 trong form (sđt + email) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Số điện
                                        thoại</p>
                                    <input class="form_input_text_1" type="text" name="phone" id="phone"
                                        placeholder="Nhập số điện thoại" formControlName="phone">
                                        <p class="text-danger" *ngIf="f['phone'].errors !== null && submited ">Phone must from 9 to 12</p>
                                </div>
                            </div>

                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Email</p>
                                    <input class="form_input_text_1" type="email" name="email" id="email"
                                        placeholder="Nhập email" formControlName="email">
                                        <p class="text-danger" *ngIf="f['email'].errors !== null && submited ">Email invalid</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 3 trong form(giới tinh + quốc tịch) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Giới tính
                                    </p>
                                    <div class="form_radio pure-g">
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input type="radio" id="male" name="gender" value="male" formControlName="gender">
                                            <label for="male">Nam</label>
                                        </div>
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input type="radio" id="female" name="gender" value="female" formControlName="gender" >
                                            <label for="female">Nữ</label><br>
                                        </div>
                                    </div>
                                    <p class="text-danger" *ngIf="f['gender'].errors !== null && submited ">Gender cannot empty</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 4 trong form(tỉnh, quận, xã) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Địa chỉ
                                    </p>
                                    <input class="form_input_text_1" type="text" name="name" id="name"
                                        placeholder="Nhập địa chỉ" formControlName="address">
                                        <p class="text-danger" *ngIf="f['address'].errors !== null && submited ">Length of address must longer than 10 charactors</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 6 (Khoa) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Chọn chuyên khoa
                            </p>
                            <div class="form_dropdown">
                                <select class="dropdown" formControlName="idMajor" (change)="onselectkhoa()">
                                    <option value="" disabled selected hidden>Chọn chuyên khoa</option>
                                    <ng-container *ngFor="let item of listMajor | async">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <p class="text-danger" *ngIf="f['idMajor'].errors !== null && submited ">Major cannot empty</p>
                        </div>

                        <!-- Hàng 7(Bác sĩ) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Chọn bác sĩ </p>
                            <div class="form_dropdown">
                                <select class="dropdown" formControlName="idUser">
                                    <option value="" disabled selected hidden>Chọn bác sĩ</option>
                                    <ng-container *ngFor="let item of listDoctor | async">
                                        <option [value]="item.id">{{item.fullName}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <p class="text-danger" *ngIf="f['idUser'].errors !== null && submited ">Doctor cannot empty</p>
                        </div>

                        <!-- Hàng 8(Lịch) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup> Chọn ngày muốn
                                thăm khám</p>
                            <div class="form_pickdate">
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose a date</mat-label>
                                    <input [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker"
                                        (dateChange)="addEvent('change', $event)" formControlName="date">
                                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <p class="text-danger" *ngIf="f['date'].errors !== null && submited ">Date cannot empty</p>
                        </div>

                        <!-- Hàng 9(đặt lịch) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk" style="color: red; font-size: 7px;"></i></sup>Thời gian khám trong ngày </p>
                            <div class="form_radio pure-g">
                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                    <input type="radio" id="ontime1" name="session" value="ontime1" formControlName="session">
                                    <label for="ontime1">Sáng</label>
                                </div>
                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                    <input type="radio" id="overtime1" name="session" value="overtime1" formControlName="session">
                                    <label for="overtime1">Chiều</label><br>
                                </div>
                            </div>
                            <p class="text-danger" *ngIf="f['session'].errors !== null && submited ">Session cannot empty</p>
                        </div>
                        

                        <!-- Hàng 10(mô tả) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Nhập ván đề sức
                                khỏe cần thăm khám</p>
                            <div class="form_textarea">
                                <textarea name="reason" id="reason" rows="5" required
                                    placeholder="Nhập tình trạng sức khỏe của bạn" formControlName="note"></textarea>
                            </div>
                            <p class="text-danger" *ngIf="f['note'].errors !== null && submited ">Note cannot empty</p>
                        </div>
                        <h1>{{addForm.value | json}}</h1>
                        <!-- Hàng 10(nút) -->
                        <div class="form_element">
                            <div class="outer_form_button">
                                <button type="submit" class="form_button">Đặt lịch hẹn</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>